<footer class="footer">
    <div class="container text-center">
        <span class="text-muted">{{"Gemaakt met"|trans}} <i class="fa fa-heart" style="color: red;"></i> {{"voor gdm.gent (derived from source files from"|trans}} <a href="https://knpuniversity.com">KnpUniversity</a>)</span>
    </div>
</footer>