{% extends 'base.html.twig' %}

{% block title %}Bloso Home!{% endblock %}

{% block body %}


    <div class="container">
        <div class="row">

         <p>This is contacts</p>
        </div>
    </div>
{% endblock %}
